*{
  margin: 0;
  padding: 0;
  /*box-sizing: border-box;*/
  font-family: 'Poppins', sans-serif;
  /* variables */
  /* sb: sombra  // cp: cuerpo // ep: elementos del cuerpo */
  --sb-box: 6px 6px 13px #000f14,
	          -6px -6px 13px #002532;
}
body {
	overflow-y: hidden;
	background-color: #01232F;
}
button {
	margin: 0.5rem 0rem;
	padding: 0.5rem 1.5rem;
	outline: none;
	cursor: pointer;
	border: none;
	border-radius: 0.5rem;
	color: #78E22F;
	background: #001A23;
	box-shadow: var(--sb-box);
}
.main_div {
	display: flex;
	justify-content: center;
	align-items: center;
}
.container {
	position: relative;
	margin: 5rem;
	padding: 2rem;
	border-radius: 0.8rem;
	background: #001A23;
	box-shadow: var(--sb-box);
}
.grid {
	width: 25rem;
	height: 25rem;
	display: flex;
	flex-wrap: wrap;
	margin-top: 1rem;
	border: 3px solid #939393;
	background: #125972;
	box-shadow: inset 6px 6px 13px #0a3240,
	            inset -6px -6px 13px #1a80a4;
}
.grid div {
	width: 1.25rem;
	height: 1.25rem;
}
.snake {
	border-radius: 50%;
	background-color: #3BFB21;
	transition: background 0.8s;
}
.score {
	font-size: 1rem;
	color: #fff;
}
.apple {
	border-radius: 50%;
	background-color: #C30581;
}
.red {
	color: #F11F68;
	transition: 0.5s;
}
.up, .down, .left, .right {
	display: none;
}

@media screen and (min-width: 360px) and (max-width: 490px) {
	.grid {
		width: 18.75rem;
		height: 18.75rem;
	}
	.grid div:nth-last-child(-n+175) {
		display: none;
	}
	.up, .down, .left, .right {
		position: absolute;
		display: block;
		top: 250px;
		left: 16px;
		margin: 0.5rem 0rem;
		padding: 10px;
		outline: none;
		cursor: pointer;
		border: none;
		/*border-radius: 50%;*/
		color: #78E22F;
		background: #001A23;
		background: #fff;
		box-shadow: none;
	}
	.up {
		top: 395px;
		left: 120px;
	}
	.down {
		top: 395px;
		left: 210px;
	}
	.right {
		top: 250px;
		left: 320px;
	}
}
/*.up, .down, .left, .right {
	position: absolute;
	top: 250px;
	left: 16px;
	margin: 0.5rem 0rem;
	padding: 10px;
	outline: none;
	cursor: pointer;
	border: none;
	color: #78E22F;
	background: #001A23;
	background: #fff;
	box-shadow: none;
}
.up {
	top: 395px;
	left: 120px;
}
.down {
	top: 395px;
	left: 210px;
}
.right {
	top: 250px;
	left: 320px;
}*/